name: Mirror Docker Images to GHCR

on:
    workflow_dispatch:

env:
    REGISTRY: ghcr.io

jobs:
    mirror:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        strategy:
            fail-fast: false
            matrix:
                include:
                    - name: "redis"
                      upstream: "redis"
                      tag: "6.2.6"
                    - name: "syslog-ng"
                      upstream: "balabit/syslog-ng"
                      tag: "latest"
                    - name: "guacd"
                      upstream: "guacamole/guacd"
                      tag: "1.6.0"

        steps:
            - name: Install Skopeo
              run: |
                  sudo apt-get update
                  sudo apt-get install -y skopeo

            - name: Lowercase Repository Name
              id: repo_lower
              run: |
                  echo "repo=${GITHUB_REPOSITORY,,}" >> $GITHUB_OUTPUT

            - name: Log in to the Container registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Mirror ${{ matrix.name }}:${{ matrix.tag }}
              run: |
                  SRC_IMAGE="docker://docker.io/${{ matrix.upstream }}:${{ matrix.tag }}"
                  DEST_IMAGE="docker://${{ env.REGISTRY }}/${{ steps.repo_lower.outputs.repo }}/${{ matrix.name }}:${{ matrix.tag }}"
                  echo "----------------------------------------"
                  echo "Mirroring:"
                  echo "  From: $SRC_IMAGE"
                  echo "  To:   $DEST_IMAGE"
                  echo "----------------------------------------"
                  skopeo copy --all \
                    --src-tls-verify=true \
                    --dest-tls-verify=true \
                    $SRC_IMAGE $DEST_IMAGE
